
@{
    ViewBag.Title = "_MenuLateral";
}

<h2>Menu</h2>
<div>
    <ul>
        <li>@Html.ActionLink("Cadastre-se", "Create", "Usuarios")</li>
        <li>@Html.ActionLink("Lista Usuarios", "Index", "Usuarios")</li>
    </ul>    
</div>